{% extends 'seguranca/base.html' %}
{% block title %}Digite a Nova Senha{% endblock %}
{% block content %}
    <h2>Definir nova senha</h2>
    {% if validlink %}
        <p>Por favor, digite sua nova senha duas vezes.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Alterar Senha</button>
        </form>
    {% else %}
        <p>O link para redefinição de senha é inválido ou já foi utilizado. Por favor, solicite uma nova redefinição.</p>
    {% endif %}
{% endblock %}