{% extends 'seguranca/base.html' %}

{% block title %}Registrar-se{% endblock %}

{% block content %}
    <h2>Criar Conta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="next" value="{{ next }}">

        <button type="submit" class="btn btn-success">Registrar-se</button>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger">
        {{form.errors}}
    </div>
    {%endif%}
        <a href="{% url 'FilmesApp:login' %}" class="btn btn-link">Já Possuo Conta</a>

{% endblock %}

